.list-item {
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  height: 25rem;
  border-bottom: 0.5px solid #18181848;

  &__thumb {
    width: 40%;
  }
  &__text {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    position: relative;
    &-del {
      position: absolute;
      top: 0;
      right: 0;
      &:hover {
        color: rgb(226, 88, 111);
      }
      &:hover + * {
        text-decoration: line-through;
      }
    }
    &-details {
      height: 80%;
      display: flex;
      flex-direction: column;

      .brand {
        font-size: 1.4rem;
        font-weight: 600;
      }
      .name {
        font-size: 1.5rem;
      }
      .quantity {
        margin-top: auto;
        font-size: 1.4rem;
      }
      .price {
        margin-top: auto;
        font-size: 1.5rem;
      }
    }
  }
}
