.shelf__list {
  padding: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
}
.shelf__container {
  position: relative;
  width: 100%;
}

.product {
  &__container {
    width: 25%;
    height: 50rem;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s;
    position: relative;
    @media screen and (max-width: 1025px) {
      width: 33.333333%;
    }

    &:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
      transform: scale(1.05) translateY(2px);
    }
  }
  &__image {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      margin: auto;
      &:hover + div {
        opacity: 1;
      }
    }
    &-details {
      position: absolute;
      background-color: #4b4a4a;
      color: white;
      font-size: 1.6rem;
      padding: 1rem 2rem;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__description {
    height: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 0 0;
  }
  &__wish-list {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    color: #383737;
  }
  &__color {
    display: flex;
    justify-content: left;

    span {
      height: 2rem;
      width: 2rem;
      margin-right: 1px;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    span {
      font-size: 2rem;
    }
    h4 {
      font-size: 2rem;
    }
  }
  &__brand {
    padding: 0 0 1rem 0;
    strong {
      text-transform: uppercase;
    }
  }
  &__name {
    h3 {
      font-size: 1.6rem;
    }
  }
  &__purchase {
    height: 20%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    & > * {
      width: 40%;
      height: 3rem;
      font-size: 1.3rem;
      border: none;
      border-radius: 10px;
      transition: all 0.3s;
      @media screen and (max-width: 1250px) {
        width: 45%;
        border-radius: 5px;
      }
      &:hover {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
      }
    }

    &-buy {
      background-color: pink;
    }
    &-cart {
      background-color: yellow;
    }
  }
}
.btn__operation {
  text-align: center;
  padding: 0rem 2rem 3rem 2rem;
  font-size: 1.7rem;

  button {
    background-color: transparent;
    color: #181818;
    border: none;
    transition: all 0.2s;
    position: relative;
    a {
      color: #181818;
      &:hover {
        text-decoration: none;
      }
    }

    &:focus {
      outline: none;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: #f58e88;
      transition: all 0.5s;
    }
    &:hover::after {
      width: 11rem;
    }
  }
}
.wishlist-heart {
  color: #f58e88;
  cursor: pointer;
}
.checkbox-hidden {
  opacity: 0;
  visibility: hidden;
}
