.skynav {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 0rem 2.5rem;
  line-height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(121, 117, 117, 0.2);
  z-index: 100;

  &__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    font-size: 5rem;
    font-family: "Cookie", cursive;
  }
  &__left,
  &__right {
    display: flex;
    font-size: 1.3rem;
    height: 100%;
    &:not(:last-child) {
      margin-right: 4rem;
    }
    & > *:hover {
      color: #f58e88;
      cursor: pointer;
    }
  }
  &__left {
    width: 8rem;
    justify-content: space-between;
  }
}
.shopping-bag {
  display: flex;
  flex-direction: column;

  &:hover &__hidden {
    color: #181818;
    opacity: 1;
    visibility: visible;
  }
  &__hidden {
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
}
