.skynav {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 0rem 3rem;
  line-height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(121, 117, 117, 0.2);
  z-index: 100;

  &__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-size: 5rem;
    font-family: "Cookie", cursive;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      font-size: 4rem;
    }
    @media screen and (max-width: 667px) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: 414px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 375px) {
      font-size: 3rem;
      width: 60%;
    }
  }
  &__left {
    display: flex;
    font-size: 1.3rem;
    height: 100%;
    // width: 14rem;
    justify-content: space-between;
    &.menu {
      display: none;
      @media screen and (max-width: 1024px) {
        display: block;
      }
    }
    @media screen and (max-width: 375px) {
      font-size: 1.2rem;
    }

    & > * {
      margin-right: 4rem;
      @media screen and (max-width: 375px) {
        margin-right: 2.5rem;
      }
    }
    & > *:hover {
      color: #f58e88;
      cursor: pointer;
    }
  }

  &__right {
    display: flex;
    font-size: 1.3rem;
    height: 100%;
    &:not(:last-child) {
      margin-right: 4rem;
      @media screen and (max-width: 375px) {
        margin-right: 2.5rem;
      }
    }
    cursor: pointer;
    &.account {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
.shopping-bag {
  display: flex;
  flex-direction: column;

  &:hover &__hidden {
    color: #181818;
    opacity: 1;
    visibility: visible;
  }
  &__hidden {
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    @media screen and (max-width: 1023px) {
      opacity: 0 !important;
      visibility: hidden !important;
    }
  }
  &__display {
    &:hover {
      color: #f58e88;
    }
  }
}

.wishlist {
  display: flex;
  flex-direction: column;

  &:hover &__hidden {
    color: #181818;
    opacity: 1;
    visibility: visible;
  }
  &__hidden {
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    @media screen and (max-width: 1023px) {
      opacity: 0 !important;
      visibility: hidden !important;
    }
  }
  &__display {
    &:hover {
      color: #f58e88;
    }
  }
}
.user-admin {
  display: flex;
  & > *:hover {
    color: #f58e88;
  }
}
.sign-out {
  background-color: transparent;
  border: none;

  text-decoration: underline;
  margin-left: 2rem;
}
.user-account {
  &:hover {
    color: #f58e88;
    cursor: pointer;
  }
}
.map-marker {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
