.item {
  &__container {
    padding: 5rem 12rem;
    display: flex;
    @media screen and (max-width: 1024px) {
      padding: 5rem 10rem;
    }
    @media screen and (max-width: 823px) {
      padding: 5rem 7rem;
    }
    @media screen and (max-width: 768px) {
      padding: 5rem 5rem;
    }
    @media screen and (max-width: 736px) {
      padding: 5rem 4rem;
    }
    @media screen and (max-width: 667px) {
      padding: 5rem 4rem 2rem;
      flex-direction: column;
    }
    @media screen and (max-width: 414px) {
      padding: 4rem 2rem 0rem;
    }
  }
  &__image {
    width: 45%;
    height: auto;
    @media screen and (max-width: 667px) {
      margin: 0 auto;
    }
  }
  &__description {
    width: 70%;
    padding: 0 5rem;
    @media screen and (max-width: 667px) {
      width: 100%;
    }
    @media screen and (max-width: 667px) {
      padding: 0 3rem;
    }
    &-brand {
      font-size: 1.5rem;
      text-decoration: underline;
      text-transform: uppercase;
    }
    &-name {
      font-size: 2.5rem;
      letter-spacing: 0.5px;
      font-weight: 300;
      margin-bottom: 2rem;
      position: relative;
      @media screen and (max-width: 414px) {
        font-size: 2rem;
      }
      &::after {
        margin: 2rem 0;
        display: block;
        width: 3rem;
        border-bottom: 1px solid;
        content: "";
      }
    }
    &-admin {
      margin: 2rem 0;
      @media screen and (max-width: 667px) {
        margin: 1rem 0;
      }

      &-quantityAndColor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      &-addToBag,
      &-addToWishlist {
        text-align: center;
        padding: 1rem 4rem;
        margin: 3rem auto;
        width: 45%;
        font-size: 2rem;
        background-color: #f58e88;
        color: #fff;
        cursor: pointer;

        &:focus {
          outline: 0;
        }
        @media screen and (max-width: 1100px) {
          padding: 1rem 2rem;
        }
        @media screen and (max-width: 980px) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 925px) {
          font-size: 1.3rem;
          padding: 1rem 1rem;
        }
        @media screen and (max-width: 667px) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 375px) {
          width: 40%;
          font-size: 1.2rem;
        }
      }

      &-addToWishlist {
        color: #3d3d3d;
        background-color: #f5ee88;
        margin-left: 3rem;
      }
    }
    &-description {
      font-size: 1.2rem;
      @media screen and (max-width: 667px) {
        font-size: 1.3rem;
      }
    }
    &-price {
      font-size: 2.5rem;
      margin-top: 3rem;
      @media screen and (max-width: 414px) {
        font-size: 2rem;
        margin-top: 2rem;
      }
    }
    &-colors {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 200;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
    }
    &-colorsTitle {
      font-weight: 400;
    }
    &-colorsBlock {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.descriptions__colors {
  &-display {
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    margin-right: 3px;
    position: relative;
    cursor: pointer;
    &:hover + div {
      opacity: 1;
      visibility: visible;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 5;
    }
    @media screen and (max-width: 667px) {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  &-hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6rem) translateX(-25%);
    color: #fff;

    position: absolute;
    background-color: #181818;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    z-index: 10;
    font-size: 1.2rem;
  }
}
