.cosmetic-story {
  padding: 8rem 6rem;
  @media screen and (max-width: 1024px) {
    padding: 5rem 5rem;
  }

  img {
    margin: 2rem 0;
  }

  h2 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-family: "Raleway", sans-serif;

    &::after {
      margin: 3rem 0;
      display: block;
      width: 3rem;
      border-bottom: 1px solid;
      content: "";
    }
    @media screen and (max-width: 1200px) {
      font-size: 2.5rem;
    }
  }
  .cosmetic-text {
    position: relative;
    .description {
      font-size: 1.5rem;
      color: rgb(121, 116, 114);
      letter-spacing: 0.5px;
      font-family: "Montserrat", sans-serif;
      width: 60%;
      float: left;
      @media screen and (max-width: 1200px) {
        font-size: 1.4rem;
      }
    }
    @media screen and (max-width: 1250px) {
      font-size: 1.3rem;
    }
  }

  .link__shop {
    color: #f58e88;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
    position: absolute;
    right: 3rem;
    top: 19rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: inline-block;
    cursor: pointer;
    @media screen and (max-width: 1024px) {
      top: 22rem;
    }

    & span {
      margin-left: 3px;
      transform: translateX(0);
    }

    &:hover {
      color: #f1b9a9;
      span {
        margin-left: 1rem;
        transition: all 0.2s;
      }
    }
    &:focus {
      outline: none;
    }
  }

  &__double {
    display: flex;
    margin: 0 3rem;

    &-1 {
      width: 50%;
      margin-right: 8%;

      img {
        width: 95%;
      }
    }
    &-2 {
      width: 50%;
      padding: 0 0 0 9rem;
      @media screen and (max-width: 1024px) {
        padding: 0 0 0 5rem;
      }
      img {
        width: 95%;
        float: right;
      }
      #description-2 {
        width: 100%;
        @media screen and (max-width: 1200px) {
          font-size: 1.4rem;
        }
      }
      #story2-h2 {
        width: 30%;
        float: left;
      }
      #story2-link {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
      #story2-linkbox {
        position: relative;
      }
    }
  }
  &__single {
    margin: 0 3rem;
    padding: 2rem 16rem;
    @media screen and (max-width: 1250px) {
      padding: 2rem 13rem;
    }
    @media screen and (max-width: 1024px) {
      padding: 2rem 6rem 2rem 10rem;
    }

    &-1 {
      display: flex;

      img {
        width: 80%;
        margin-right: 4rem;
      }

      #description-3 {
        width: 100%;
        margin-top: 1rem;
        @media screen and (max-width: 1200px) {
          font-size: 1.4rem;
        }
      }
      #story3-link {
        position: absolute;
        right: 0;
        top: 45rem;
        @media screen and (max-width: 1250px) {
          top: 36rem;
        }
      }
      .cosmetic-text {
        padding: 6rem 3rem;
        @media screen and (max-width: 1250px) {
          padding: 4rem 2rem;
        }
      }
    }
  }
}
