.homepage-container {
  .cosmetic-pic {
    width: 100%;
    height: 80vh;
    background-image: url("../../static/img/cosmetics-3.jpg");
    background-size: cover;
  }

  .cosmetic-story {
    display: inline-block;
    // background-color: bisque;

    padding: 80px 0 40px;
    img {
      margin-bottom: 1em;
    }
    h2 {
      font-size: 2em;
      letter-spacing: 2px;
      font-family: "Raleway", sans-serif;

      &::after {
        margin-top: 30px;
        display: block;
        width: 30px;
        border-bottom: 1px solid;
        content: "";
      }
    }
    .cosmetic-text {
      .description {
        font-size: 1.2em;
        color: rgb(121, 116, 114);
        letter-spacing: 0.5px;
        font-family: "Montserrat", sans-serif;
        width: 55%;
        float: left;
      }
      position: relative;
    }

    .link__shop {
      color: #f58e88;
      text-transform: uppercase;
      text-align: right;
      margin: 0 auto;
      position: absolute;
      right: 20px;
      top: 200px;
      width: 45%;
      font-size: 1.2em;
      letter-spacing: 2px;
      display: inline-block;
      cursor: pointer;
      transition: margin-left 0.2s;
      & span {
        margin-left: 3px;
      }

      &:hover {
        color: #f1b9a9;
        span {
          margin-left: 8px;
          transition: margin-left 0.2s;
        }
      }
      &:focus {
        outline: none;
      }
    }

    &__double {
      display: flex;
      justify-content: space-between;
      margin: 0 3em;
      padding: 0 2em;
      height: 150vh;

      &-1 {
        width: 50%;
        margin-right: 8%;

        img {
          width: 40em;
        }
      }
      &-2 {
        padding: 0 0 0 90px;
        img {
          width: 35em;
          transform: scale(0.9);
        }
        #description-2 {
          width: 100%;
        }
        #story2-h2 {
          width: 30%;
          float: left;
        }
        #story2-link {
          position: absolute;
          top: 20px;
          right: 20px;
        }
        #story2-linkbox {
          position: relative;
        }
      }
    }
    &__single {
      &-1 {
        img {
          width: 30em;
        }
      }
    }
  }
}
