.list-container {
  display: flex;
  flex-direction: column;

  padding: 3rem 5rem;

  &__title {
    h2 {
      font-size: 3rem;
      margin: 2rem 0;
      @media screen and (max-width: 768px) {
        font-size: 2rem;
        margin: 1.5rem 0;
      }
    }
  }
  &__products {
    display: flex;
    flex-wrap: wrap;
  }
}
.list-empty {
  padding: 10rem 16rem;
  @media screen and (max-width: 568px) {
    padding: 8rem 12rem;
  }
  @media screen and (max-width: 414px) {
    padding: 4rem 6rem;
  }
  &__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    @media screen and (max-width: 568px) {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    @media screen and (max-width: 414px) {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  &__paragraph {
    padding: 2rem 0 1rem 0;
    font-size: 2rem;
    @media screen and (max-width: 414px) {
      padding: 1rem 0 0.5rem 0;
      font-size: 1.5rem;
    }
  }
  &__ad {
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.5rem;
    color: #f58e88;
    @media screen and (max-width: 414px) {
      font-size: 1.3rem;
    }
  }
}
