.navbar {
  &__main {
    width: 100%;
    padding: 2rem 2rem;
    line-height: 3.5rem;
    display: flex;
  }
  &__list {
    margin: 0 auto;
  }
  &__item {
    display: inline-block;
    float: left;
    padding-right: 5rem;
    font-size: 1.5rem;
    &:hover .navbar__hidden {
      display: block;
    }
    ul,
    li {
      list-style: none;
      padding: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: #181818;
    transition: all 0.3s;

    &:hover {
      text-decoration: underline;
      color: #f58e88;
    }
  }

  &__hidden {
    display: none;
    position: absolute;
    background-color: #f9f9f9dc;

    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    z-index: 1;
    text-align: center;
    .navbar-headers {
      color: #181818;
    }
  }
}
